body {
    margin: 0;
}

#hero,
#footer {
    background-color: #1f2937;
}

#footer {
    color: #f9faf8
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.logo,
.header-link,
.info-image {
    text-decoration: none;
}

.nav-bar,
.main-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 40px 15px 40px;
    padding: 10px 40px 10px 40px;
}

.links {
    display: flex;

}

.header-link {
    margin: 10px;
    padding: 10px;
}

.main {
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}

.secondary,
.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.subutton {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.su {
    border:2px solid #e5e7eb;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.link-container {
    margin: 15px 40px 15px 40px;
    padding: 20px 40px 20px 40px;
}

.cont-container {
    display: flex;
    justify-content: space-around;
}

.cont-container > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-section {
    background-color: #e5e7eb;
}

.q-section > p {
    text-align: end;
    margin: 2px 40px 20px 40px;
    padding: 2px 40px 10px 40px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 20px 40px 20px 40px;
    padding: 10px 40px 10px 40px;
}

.round-mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 20px 80px 20px 80px;
    padding: 10px 80px 10px 80px
}

.info-image > img {
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.acc-text {
    color: #f9faf8;
}

.acc-text > div {
    font-size: 24px;
    padding-top: 10px;
}

#footer {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}